.App {
  text-align: center;
}

input[type="text"] {
  border: 1px solid rgb(60, 148, 255);
  padding: 10px 5px;
  width: 500px;
  height:20px;
  margin:10px;
  font-size: 15px;
  text-indent: 3px;
  color: rgb(52, 142, 0);
  size: 20px;
}

body {
  font-size: 20px
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

